.a {
  font-size: 2rem;
  background-color: gray;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  height: 100px;
}

.b {
  font-size: 2rem;
  background-color: gray;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  height: 400px;
}

.c {
  font-size: 2rem;
  background-color: gray;
  border: 2px solid black;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  height: 100px;
}



@media only screen and (min-width: 700px) {

  .bc {
    display: flex;
    flex-direction: row;
  }

  .b {
    width: 80%;
  }

  .c {
    width: 20%;
    height: auto;
  }
}
Footer

